* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: Material Design Icons, JetBrainsMono Nerd Font, Iosevka Nerd Font;
  font-size: 16px;
}

window#waybar {
  background-color: rgba(105, 105, 105, 0.3);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-bottom: 1px solid rgba(105, 105, 105, 0.4);
}

window#waybar.hidden {
  opacity: 0.1;
}

#window {
  color: #64727d;
}

#clock,
#custom-media,
#tray,
#mode,
#custom-lock,
#workspaces,
#idle_inhibitor,
#custom-power-menu,
#battery,
#pulseaudio,
#network,
#language,
#custom-bluetooth-status{
  color: #ffffff;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 20px;
}

#custom-bluetooth-status{
    padding-right: 8px;
}

#custom-notify{
    padding-left: 25px;
}

#custom-lock {
    padding-left: 25px;
    padding-right: 8px;
}

#custom-fast-control-menu{
    padding-left: 25px;
}
#tray {
  padding-right: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 30px;

}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#workspaces {
  padding: 5px 2px;
  border-radius: 12px;
  font-weight: normal;
  font-style: normal;
  background-color: rgba(69, 69, 69, 0.39);
  border: 1px solid rgba(105, 105, 105, 0.4);
}

#workspaces button {
  padding: 0px 15px;
  margin: 0px 3px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-in-out;
  opacity: 0.4;
}

#workspaces button.active {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  min-width: 40px;
  background-size: 400% 400%;
  transition: all 0.3s ease-in-out;
  opacity:1.0;
}

#workspaces button:hover {
  border-radius: 10px;
  min-width: 40px;
  background-size: 400% 400%;
}

#custom-bluetooth-status {
  padding-top: 4px;
  font: 0.9em sans-serif;
}

#custom-fast-control-menu {
    font-size: 18px;
    padding-top: 4px;
}

#pulseaudio, #pulseaudio.muted  {

}

#network.disconnected {
  color: #fff;
}

#battery {
  color: #8fbcbb;

}

#battery.critical,
#battery.warning,
#battery.full,
#battery.plugged {
  color: #8fbcbb;

}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}

#battery.warning {
  color: #ecd3a0;
}

#battery.critical:not(.charging) {
  color: #fb958b;
}

#clock {
  font-family: Iosevka Nerd Font;
  font-weight: bold;      
  font-size: 14px;
  padding-top: 2px;
}
